.container-fluid
  .col-xs-9
    textarea#parsetext placeholder="Please call in to the meeting at 800-555-1234 x1234567 at 11:00am"
  .col-xs-3
    == render 'recent_calls'
.container-fluid
  == render 'form'
      



javascript:
  var knwl = new Knwl('english');
  // knwl.register(PhoneExtensions);
  var analysePaste = function(str) {
    knwl.init(str);
    phones = knwl.get('phones');
    dates = knwl.get('dates');
    times = knwl.get('times');
    console.log(phones);
    // console.log(str)
    if (phones[0]) {
      $('#phone_call_to').val(phones[0].phone)
      $('#new_phone_call input[type=submit]').focus();
    }
  }

  var analyseInput = function() {
    analysePaste($('#parsetext').val());
  }

  $('#parsetext').change(function () {
    // analyseInput();
  });

  $("#parsetext").bind('paste', function(strr) {
    setTimeout(function() {
        analysePaste($('#parsetext').val());
      },100);
  }); 